@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Electrolize', sans-serif;
    color: white;
}
body{
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
}
section{
    margin-top: 50px;
}
header, main, footer{
    width: 95%;
    margin: 0 auto;
}
.main{
    min-height: calc(100vh - 275px);
}


@media screen and (min-width: 1500px){
    header, main, footer{
        width: 1200px;
    }
}